<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/lib/Spring_lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/lib/Spring_lib" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/lib/Spring_lib" recursive="false" />
    <jarDirectory url="file://$PROJECT_DIR$/lib/Spring_lib" recursive="false" type="SOURCES" />
  </library>
</component>